.colorRojizo {color: #D5085E;}
.colorRojizoFondo {background-color: #D5085E;}
.colorNaranja {color: #EF8300;}

.colorGris1 {color: #7D868A;}
.colorGris2 {color: #CAD2D8;}
.colorBlanco {color:rgb(255, 255, 255);}